<ion-header>
</ion-header>

<ion-content padding *ngIf="data">
  <div class="dateContainer">
    <div class="dayOfWeek">{{ day_name }}&nbsp;</div>
    <div class="mmddyy">{{ day_date }}</div>
    <div class="newBtn">
      <!-- <img src="/assets/imgs/plus.svg"> -->
      <img src="/assets/imgs/plus.svg" style="width : 100% ; height : 100%" (click)="AddTask()">
    </div>
  </div>
  <div class="taskCounterContainer">
    <div class="taskCounter">
      <strong>{{ data_num }}</strong> Tasks To Do&nbsp;</div>
    <div class="pastDue">
      <strong>{{ numTasksPD }} </strong>
    </div>
  </div>
  <div style="height:20px"></div>
  <ion-list>
    <ion-item no-lines *ngFor="let d of data; let i=index">
      <div class="itemListContainer">
        <div [ngClass]="(data[i].complete)?'completed':'notCompleted'">
          <div class="dueDate">{{ data[i].dueDate }}</div>
          <div class="taskLabel">{{ data[i].taskLabel }}</div>
          <div class="checkBox">
            <img src="{{ data[i].complete_url }}" style="width : 75% ; height : 75%" (click)="CheckBox(i)">
          </div>
        </div>
      </div>
    </ion-item>
  </ion-list>
  <div class="info">
    <img src="assets/imgs/info.svg" width="25px" (click)="InfoClick()">
  </div>
</ion-content>
