page-home {
  font-family: 'Raleway-Light', sans-serif;
  .dateContainer {
    // position: relative;
    top: 10px;
  }
  .dateContainer:after {
    content: "";
    display: table;
    clear: both;
  }
  .dayOfWeek {
    font-size: 36px;
    font-weight: bold;
    position: relative; // top: 15px;
    float: left;
    width: fit-content;
  }
  .mmddyy {
    font-size: 16px;
    position: relative;
    top: 18px;
    float: left;
    width: auto;
  }
  .newBtn {
    float: right;
    width: 15%;
  }
  .taskCounterContainer {
    font-size: 18px;
  }
  .taskCounter {
    float: left;
    width: auto;
  }
  .taskCounterContainer:after {
    content: "";
    display: table;
    clear: both;
  }
  .itemListContainer {
    font-size: 18px;
    height:8px;
  }
  .itemListContainer:after {
    content: "";
    display: table;
    clear: both;
  }
  .dueDate {
    width: 20%;
    float: left;
  }
  .taskLabel {
    // font-weight: bold;
    width: auto;
    float: left;
  }
  .checkBox {
    float: right;
    height: 20px;
  }
  .completed {
    color: #b6b6b6;
    text-decoration: line-through;
  }
  .notCompleted {
    color: black;
  }
  .pastDue {
    color: red;
  }
  .item {
    min-height: 50px;
  }
}